.box {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Redacted Script', cursive;
}
.flip-card {
  background-color: transparent;
  width: 75%;
  height: 75%;
  border: 1px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url(../images/FinBil.png);
  background-size: cover;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(227, 82, 73);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}
.name:active {
  font-family: 'Comic Neue', cursive;
}
.name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  font-size: 70px;
  margin-left: 10%;
}
.text:active {
  font-family: 'Comic Neue', cursive;
}
.text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 30px;
}
.text2:active {
  font-family: 'Comic Neue', cursive;
}
.text2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 10%;
  font-size: 20px;
}
.button{
  display: flex;
  justify-content: space-around;
}

